<h2>Actividades Registradas</h2>

<a routerLink="/activities/new" class="new-btn">+ Nueva Actividad</a>

<div class="list">
  <div class="item" *ngFor="let a of activities">

    <!-- Clic navega a detalle -->
    <div class="info" [routerLink]="['/activities', a.id]">
      <strong>{{ a.type }}</strong>
      <p>{{ a.description }}</p>
      <span class="points">{{ a.points }} pts</span>
    </div>

    <div class="actions">
      <button class="edit" (click)="startEdit(a)">✏️</button>
      <button class="delete" (click)="remove(a.id)">🗑️</button>
    </div>

    <!-- MODO EDICIÓN -->
    <div *ngIf="editing?.id === a.id" class="editing-block">
      <input type="text" [(ngModel)]="newDescription">

      <button class="save" (click)="saveEdit()">Guardar</button>
      <button class="cancel" (click)="cancelEdit()">Cancelar</button>
    </div>

  </div>
</div>
<div *ngIf="activities.length === 0">
  <p>No hay actividades registradas.</p>