h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

ul {
  padding-left: 0;
  list-style: none;
}

li {
  background: #e8f5e9;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 6px;
}
li:hover {
  background: #c8e6c9;
}
